* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  font-size: 10px;
}

.text-uppercase {
  text-transform: uppercase;
}

h1 {
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu Mono', sans-seriff;
  font-size: 4.8em;
  display: inline-block;
}

h2 {
  font-size: 4.8em;
  line-height: 1em;
  font-family: 'Montserrat', serif;
  font-weight: 600;
  text-align: left;
  color: #fff;
}

.promokod {
  color: #FBAB30;
  cursor: pointer;
}

.promokod:hover {
  color: #975F4E;
}

.desc {
  font-size: 1.8em;
}

.button {
  width: 200px;
  padding: 16px 16px;
  font-size: 1.8em;
  font-weight: 800;
  border-radius: 8px;
  border: none;
  background-color: #FBAB30;
  color: #111;
}

.button-descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.button-descr small {
  font-size: 14px;
  margin-top: 20px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #49342E;
  color: #fff;
  height: 10vh;
  width: 100%;
}

.header__logo {
  height: 6em;
  width: 6em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__name-company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Montserrat', sans-seriff;
  font-weight: 300;
  letter-spacing: 5px;
  margin: 0;
  padding: 0;
  color: #fff;
}

.header__title-company {
  color: #FBAB30;
  font-family: 'Ubuntu Mono', sans-seriff;
  font-weight: 700;
}

.header__subtitle-company {
  font-size: 1.4em;
  letter-spacing: 1.5px;
  margin-top: -8px;
}

.header .title-company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 1.8em;
  font-family: 'Montserrat', serif;
}

.header .nav-main a {
  color: #fff;
  text-decoration: none;
  padding: 0 15px;
  -webkit-transition: all .6s;
  transition: all .6s;
}

.header .nav-main a:hover {
  color: #FBAB30;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.header .nav-account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-arround;
      -ms-flex-pack: space-arround;
          justify-content: space-arround;
  padding-right: 16px;
}

.header .nav-account__button {
  border: none;
  background: transparent;
  color: #fff;
  font-family: 'Montserrat', serif;
  font-size: 1.4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 12px;
}

.header .nav-account__button object {
  height: 24px;
  width: 24px;
  margin-bottom: 6px;
}

.slider-main {
  height: 90vh;
  width: 100%;
  background-color: #8f4545;
}

.slider-main__text {
  max-width: 730px;
}

.slider-main__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 3em;
}

.slider-main .swiper-container {
  width: 100%;
  height: 100%;
  color: #fff;
}

.slider-main .swiper-slide {
  width: 100%;
  height: 100%;
  background-color: #8f4545;
  background: -webkit-gradient(linear, left top, right top, from(#5E1F0B), to(#271612));
  background: linear-gradient(90deg, #5E1F0B 0%, #271612 100%);
  padding: 2em 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  overflow: hidden;
}

.slider-main .swiper-button-next, .slider-main .swiper-button-prev {
  color: #FBAB30;
}

.slider-main .swiper-button-next {
  right: 30px;
}

.slider-main .swiper-button-prev {
  left: 30px;
}

.slider-main .swiper-button-next::after, .slider-main .swiper-button-prev::after {
  content: '';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: serif;
  background-size: cover;
  background: no-repeat url(./../img/slider-main/nav-next.svg);
  background-size: cover;
  height: 54px;
  width: 27px;
  right: 30px;
}

.slider-main .swiper-button-prev::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  right: none;
  left: 30px;
}

.slider-main .swiper-pagination-bullets {
  bottom: 16px;
}

.slider-main .swiper-pagination-bullet {
  background: transparent;
  border: 1px solid colorOrange;
  height: 16px;
  width: 16px;
  margin: 0 6px !important;
  opacity: 1;
}

.slider-main .swiper-pagination-bullet-active {
  background: #FBAB30;
}

.slider-main .swiper .swiper-pagination-fraction {
  bottom: 16px;
}

.slider-main .slide-promokod {
  background-size: cover;
  background: no-repeat url(./../img/slider-main/img-bg__1.jpg);
}

.slider-main .slide-tournament {
  background: no-repeat url(./../img/slider-main/img-bg__2.jpg);
  background-size: cover;
}

.slider-main .slide-tournament .slider-main__img {
  height: 120px;
  overflow: hidden;
}
